version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    groups:
      gh-actions:
        patterns:
          - "*"
    commit-message:
      prefix: ci
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: monthly
    groups:
      rust-dependencies:
        patterns:
          - "*"
    commit-message:
      prefix: build
    labels:
      - dependencies
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: monthly
    groups:
      docker:
        patterns:
          - "*"
    commit-message:
      prefix: chore
